<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form</title>
  <link rel="stylesheet" href="static/css/style.css">

</head>

<body>
  <div class="container">
    <form id="contact" action="" method="post">
      <h3>Contact Form</h3>
      <fieldset>
        <input placeholder="Your name" type="text" tabindex="1">
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="2">
      </fieldset>
      <fieldset>
        <input placeholder="Subject (optional)" type="subj" tabindex="3">
      </fieldset>
      <fieldset>
        <textarea placeholder="Type your message here...." tabindex="5"></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>
</body>

</html>